    <!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light" >
        {% if current_user.is_authenticated %}
    <p align="left"><a class="navbar-brand" href="/news">{{ current_user.name }}</a>
        <a class="navbar-brand" href="/logout">выйти</a></p>
{% else %}
    <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
{% endif %}
        <a class="navbar-brand" href="#"><p><img src="static/img/marina.png" height=1%  alt='маринОЧКА'></p></a>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adb2f9f50d5e54412cb77ae44da9db9ce37676593d0581d367cc71e26ba70b509&amp;width=100%25&amp;height=240&amp;lang=ru_RU&amp;scroll=true"></script>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
    (C) проект создан на базе html
</html>