{% extends "base.html" %}
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
{% block content %}
<title>Мариночка</title>
<h1>Предложения</h1>
{% for item in news%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated %}
    {% if current_user == item.user %}
        <div>
            <a href="/news/{{ item.id }}" class="btn btn-warning">Изменить</a>
            <a href="/news_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
        </div>
        {% else %}
        <link rel="stylesheet" type="text/css" href="style.css">
        <a href="/" class="a.button11">Купить</a>
    <div>
        </div>
    {% endif %}
    {% else %}
    <a href="/login">Для покупки нужно авторизоваться</a>
{% endif %}
</div>
{% endfor %}
{% endblock %}
